body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

#entryConfirmation {
    height: 10px;
    font-style: italic;
}

#libraryArea {
    display: flex;
    flex-wrap: wrap;
}
.bookCard {
    display: flex;
    justify-content: center;
    position: relative;
    height: 125px;
    width: 80px;
    background-color: #26a69a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
}

.bookCard:hover {
    background-color: #2bbbad;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.deleteBtn {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
    color: #fff;
    background-color: #e57373;
    text-align: center;
    letter-spacing: 0.5px;
    font: size 14px;
    border-radius: 2px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.bookCard:hover .deleteBtn {
    visibility: visible;
}

.bookInfo {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.bookTitle {
    justify-self: center;
    text-align: center;
    font-size: 1em;
    vertical-align: top;
    margin-top: 10px;
}
.bookAuthor {
    position: absolute;
    justify-self: center;
    bottom: 15px;
    padding: 5px;
    text-align: center;
    font-size: 0.75em;
    margin: 0 0 30px 0;
}

.read {
    width: 0px;
    height: 0px;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    right: -8px;
    border-bottom: 12px solid #ff8a65;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.4);
}
.bookCard:hover .read{
    border-bottom: 12px solid #ff9b7d;
}

.readBtn {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    z-index: 1;
    width: 0px;
    height: 0px;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    right: -15px;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}