html:root{
    --mdc-theme-secondary: #03a9f4;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}
h1 {
    margin: 0;
}

#hello {
    width: 65vw;
    line-height: 22px;
}

#textEntry {
    display: none;
}

#entryConfirmation {
    height: 10px;
    font-style: italic;
}

#navbar {
    padding: 10px 10px 0 10px;
    width: auto;
    height: auto;
}
#addBook {
    position: absolute;
    right: 20px;
    top: 80px;

    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    transition: 0.3s ease-out;
    text-decoration: none;
    color: black;
    background-color: #03a9f4;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#addBook:hover {
    background-color: #29b6f6;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

#libraryArea {
    display: flex;
    flex-wrap: wrap;
}
.bookCard {
    display: flex;
    justify-content: center;
    position: relative;
    height: 125px;
    width: 80px;
    background-color: #26a69a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    /* transition: .3s ease-out; */
    transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63),
        -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
}

.bookCard:hover {
    background-color: #2bbbad;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.deleteBtn {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
    color: #fff;
    background-color: #e57373;
    text-align: center;
    letter-spacing: 0.5px;
    font: size 14px;
    border-radius: 2px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    /* transition: 0.3s ease-out; */
}

.bookCard:hover .deleteBtn {
    visibility: visible;
}

.bookInfo {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.bookTitle {
    justify-self: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    vertical-align: top;
    margin-top: 10px;
    height: 40px;
}
.bookAuthor {
    position: absolute;
    justify-self: center;
    top: 60px;
    padding: 5px;
    text-align: center;
    font-size: 0.75em;
    margin: 0 0 30px 0;
}

.read {
    width: 0px;
    height: 0px;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    right: -8px;
    border-bottom: 12px solid #ff8a65;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-out;
}

.card:hover .read {
    border-bottom: 12px solid #ff9b7d;
    transition: 0.3s ease-out;
}

.readBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    z-index: 1;
    width: 0px;
    height: 0px;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    right: -15px;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.modalWrapper {
    visibility: hidden;
    opacity:0;
    transition: 0.1s ease-in-out;
}

.modalBox {
    z-index: 1003;
    display: block;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    max-width: 80%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modalOverlay {
    z-index: 1002;
    display: block;
    opacity: 0.5;
    position: fixed;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    will-change: opacity;
}

.modalContent {
    padding: 20px;
}

.formTitle {
    margin-top: 0;
}
#inputArea {
    display: flex;
}
.modalFooter {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: auto;
    text-align: right;
    box-sizing: border-box;
}

.modalBtn {
    margin: 6px 0;
    cursor: pointer;
    position: relative;
    display: inline block;
    overflow: hidden;
    z-index: 1;

    background-color: transparent;
    color: #343434;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
}

.txtBox {
    display: block;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    margin-left: 0px;
    margin-right: auto;
    left: auto;
    right: auto;
}

.txtField {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 43px;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
    overflow: visible;
    color: #0277bd;
}

.txtField:focus {
    /* color: #0277bd; */
    border-bottom: 2px solid #03a9f4;
}
.txtField:focus::placeholder {
    color: #03a9f4;
}

::placeholder {
    color: #9e9e9e;
}

.mdc-checkbox {
    display: flex;
    align-self: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    margin-left: 0px;
    margin-right: 0px;
    left: auto;
    right: auto;
}


.cbLabel {
    display: flex;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
    color: #343434;
    font-size: 14px;
    text-transform: upp
}
