#entryConfirmation {
    height: 10px;
    font-style: italic;
}

#libraryArea{
    display:flex;
}
.bookCard {
    height: 80px;
    width:80px;
    background-color:lightgrey;
    margin:10px;
    padding: 10px;
    border-radius:2px;
}